body{
    background: linear-gradient(294deg, #1a150bf2, #09540980), url(https://wallpaperset.com/w/full/5/7/f/522711.jpg);
}
.signup{
    margin: 120px 50px;
}
.heading {
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 40px 0px;
}
#form1 label {
    color: white;
}
#form1 .btn-primary {
    width: 100%;
}