#data_table{
    background: none;
}
body{
    background: linear-gradient(294deg, #1a150bf2, #09540980), url(https://wallpaperset.com/w/full/5/7/f/522711.jpg);
}
#data_table_form{
    background: linear-gradient(294deg, #1a150bf2, #09540980), url(https://wallpaperset.com/w/full/5/7/f/522711.jpg);
    padding: 0px 0px 40px;
}
.signup{
    margin: 120px 50px;
}
.heading {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 40px 0px;
}
#form1 label {
    color: white;
}
#form1 .btn-primary {
    width: 100%;
}
.hidden{
    display: none;
}
.show_more .heading, 
#table_div .heading{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 10px 50px;
    font-weight: 600;
}
#table_div .heading{
    color: black;
}
.show_more p{
    /* font-size: 35px; */
    color: rgb(255, 255, 255);
    /* margin: 100px 50px; */
}
#sect_table {
    margin: 50px 50px;
}
.show{
    display: block;
}

.btn-danger {
    margin-right: 10px;
}